* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100%;
}

html {
  overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;
}

/*#map-page-grid {
  display: grid;
  grid-template-rows: 70px 1fr;
}*/

#map {
  height: 400px;
  margin-top: 5rem;
}

@media screen and (min-width: 768px) {
  #map {
    height: 700px;
  }
}

@media screen and (min-width: 1024px) {
  #map {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 600px;
    height: 500px;
    /*position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;*/
  }
}

.leaflet-container,
/*.leaflet-pane,*/
.leaflet-map-pane {
  width: 100%;
  height: 100%;
}
